@font-face {
  font-family: "Urbanist Bold";
  font-display: swap;
  src: url("../fonts/Urbanist-Bold.woff") format("woff"), url("../fonts/Urbanist-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Urbanist Regular";
  font-display: swap;
  src: url("../fonts/Urbanist-Regular.woff") format("woff"), url("../fonts/Urbanist-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(207.67deg, #FDAE8F 3.43%, #FD1C68 104.7%);
  border-radius: 5px;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden !important;
  background: #030812;
  -webkit-backface-visibility: hidden;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

article > * + * {
  margin-top: 1em;
}

:focus-visible {
  outline: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

div {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section {
  position: relative;
  width: 100%;
  height: auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 160px;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

.container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title {
  font-family: "Urbanist Bold";
  font-size: 64px;
  line-height: 1.37;
  color: #FFFFFF;
  text-align: center;
}

.subtitle {
  font-family: "Urbanist Bold";
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}

.text {
  font-family: "Urbanist Regular";
  font-size: 16px;
  line-height: 1.5;
  color: #8393AF;
}

.subtext {
  font-family: "Urbanist Bold";
  font-size: 24px;
  line-height: 1.33;
  color: #FFFFFF;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 21px 56px;
  border-radius: 16px;
}

.button img {
  width: 24px;
  height: 24px;
  margin-right: 6px;
  -webkit-transition: all 400ms ease 0s;
  -o-transition: all 400ms ease 0s;
  transition: all 400ms ease 0s;
}

.button--color {
  background: -o-linear-gradient(242.33deg, #FDAE8F 3.43%, #FD1C68 104.7%);
  background: linear-gradient(207.67deg, #FDAE8F 3.43%, #FD1C68 104.7%);
}

.button--black {
  border: 1px solid #FFFFFF;
}

.header {
  padding: 18px 0;
  z-index: 99;
}

.header__link {
  font-family: "Urbanist Bold";
  color: #FFFFFF;
}

.header__body {
  -webkit-transition: 0.4s ease 0s;
  -o-transition: 0.4s ease 0s;
  transition: 0.4s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-left: 30px;
}

.header__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 296px;
  height: 48px;
  background: #3C485D;
  border-radius: 8px;
}

.header__form-button {
  width: 42px;
  height: 99%;
  background: inherit;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.header__form-button img {
  width: 20px;
  height: 20px;
}

.header__form-input {
  width: 100%;
  height: 99%;
  background: inherit;
  border: none;
  border-radius: 8px;
  font-family: "Urbanist Regular";
  color: #8393AF;
}

.header__form-input::-webkit-input-placeholder {
  color: #8393AF;
}

.header__form-input::-moz-placeholder {
  color: #8393AF;
}

.header__form-input:-ms-input-placeholder {
  color: #8393AF;
}

.header__form-input::-ms-input-placeholder {
  color: #8393AF;
}

.header__form-input::placeholder {
  color: #8393AF;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 16px;
}

.header__list .header__link {
  padding: 0 16px;
}

.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 24px;
  background: -o-linear-gradient(242.33deg, #FDAE8F 3.43%, #FD1C68 104.7%);
  background: linear-gradient(207.67deg, #FDAE8F 3.43%, #FD1C68 104.7%);
  border-radius: 12px;
}

.header__button img {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.footer__body {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 130px;
}

.footer__body picture {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer__container {
  z-index: 99;
}

.footer__text {
  font-family: "Urbanist Bold";
  font-size: 14px;
  line-height: 18px;
  color: #8393AF;
}

.footer__text--big {
  font-size: 16px;
  line-height: 24px;
  margin: 16px 0 36px;
  max-width: 470px;
}

.footer__text--small {
  font-family: "Urbanist Regular";
  font-size: 12px;
  line-height: 16px;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
}

.footer__item-img {
  margin-right: 12px;
}

.footer__img {
  background: rgba(255, 255, 255, 0.2);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__img img {
  width: 24px;
  height: 24px;
}

.footer__title {
  font-family: "Urbanist Regular";
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__list {
  display: grid;
  grid-row-gap: 16px;
  margin-bottom: 80px;
}

.footer__list .footer__title {
  margin-bottom: 8px;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 8px;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.decor {
  width: 886px;
  height: 886px;
  background: -o-linear-gradient(14.04deg, #FFC83A 13.64%, #FF008A 46.53%, #6100FF 78.88%);
  background: linear-gradient(75.96deg, #FFC83A 13.64%, #FF008A 46.53%, #6100FF 78.88%);
  opacity: 0.4;
  -webkit-filter: blur(120px);
          filter: blur(120px);
  position: absolute;
  z-index: 0;
  border-radius: 50%;
}

.decor--first {
  right: -141px;
  top: -286px;
}

.decor--second {
  left: -277px;
  bottom: -500px;
}

.decor--third {
  width: 1288.21px;
  height: 1022px;
  opacity: 0.4;
  background: none;
  -webkit-filter: none;
          filter: none;
  position: absolute;
  top: 300px;
  left: calc(50% - 644.105px);
}

.decor--third .decor__item {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 837.26px;
  height: 570.21px;
  background: #FFAA6C;
  -webkit-filter: blur(400px);
          filter: blur(400px);
  -webkit-transform: rotate(21.91deg);
      -ms-transform: rotate(21.91deg);
          transform: rotate(21.91deg);
  z-index: 3;
}

.decor--third::after {
  content: "";
  position: absolute;
  left: calc(50% - 481.42px);
  top: calc(50% - 386.79px);
  width: 962.84px;
  height: 773.58px;
  background: #FF007E;
  -webkit-filter: blur(400px);
          filter: blur(400px);
  z-index: 2;
}

.decor--third::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1123.88px;
  height: 902.71px;
  background: #EA72FF;
  -webkit-filter: blur(600px);
          filter: blur(600px);
  z-index: 1;
}

.decor--last {
  background: none;
  -webkit-filter: none;
          filter: none;
  width: 1391.82px;
  height: 1015px;
  position: absolute;
  right: -408px;
  bottom: 0px;
  z-index: -1;
}

.decor--last .decor__item {
  position: absolute;
  -webkit-filter: blur(400px);
          filter: blur(400px);
  border-radius: 50%;
}

.decor--last .decor__item:first-child {
  right: 0;
  bottom: 85px;
  width: 458.94px;
  height: 458.94px;
  background: #7F9FFF;
}

.decor--last .decor__item:nth-child(2) {
  right: 344px;
  bottom: 81px;
  width: 441.76px;
  height: 345.46px;
  background: #82FFF9;
  -webkit-filter: blur(300px);
          filter: blur(300px);
  -webkit-transform: rotate(-15.22deg);
      -ms-transform: rotate(-15.22deg);
          transform: rotate(-15.22deg);
}

.decor--last .decor__item:nth-child(3) {
  left: 184px;
  bottom: 107px;
  width: 424.39px;
  height: 84.1px;
  background: #D015FF;
  -webkit-filter: blur(300px);
          filter: blur(300px);
  -webkit-transform: rotate(-31.01deg);
      -ms-transform: rotate(-31.01deg);
          transform: rotate(-31.01deg);
}

.decor--last .decor__item:nth-child(4) {
  right: 84px;
  top: 11.5px;
  width: 961.04px;
  height: 572.6px;
  background: #FFE198;
  -webkit-transform: rotate(-7.32deg);
      -ms-transform: rotate(-7.32deg);
          transform: rotate(-7.32deg);
}

.decor--last .decor__item:nth-child(5) {
  left: 0;
  top: 0;
  width: 467.6px;
  height: 660.73px;
  background: #FF3278;
  -webkit-transform: rotate(12.08deg);
      -ms-transform: rotate(12.08deg);
          transform: rotate(12.08deg);
}

.decor--last .decor__item:last-child {
  left: 374px;
  bottom: 0;
  width: 196.19px;
  height: 387.23px;
  background: #5D85FF;
  -webkit-filter: blur(200px);
          filter: blur(200px);
  -webkit-transform: rotate(49.25deg);
      -ms-transform: rotate(49.25deg);
          transform: rotate(49.25deg);
}

.start {
  height: 600px;
  position: absolute;
  top: 100px;
}

.start__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.start__container {
  max-width: 470px;
  z-index: 99;
}

.start__title {
  font-family: "Urbanist Bold";
  font-size: 48px;
  line-height: 1.33;
  color: #FFFFFF;
}

.start__title span {
  background: -o-linear-gradient(242.33deg, #FDAE8F 3.43%, #FD1C68 104.7%);
  background: linear-gradient(207.67deg, #FDAE8F 3.43%, #FD1C68 104.7%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.start__button.button--color:hover img {
  -webkit-transform: translate(3px, -5px);
      -ms-transform: translate(3px, -5px);
          transform: translate(3px, -5px);
}

.start__text {
  font-family: "Urbanist Regular";
  margin: 40px 0;
}

.start__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.start__button {
  margin: 0;
}

.start__img {
  background-image: url(..//img/start-orbit.webp);
  background-size: contain;
  position: relative;
  width: 100%;
  height: 600px;
  margin-left: 55px;
  z-index: 99;
}

.start__img .start__item {
  position: absolute;
}

.start__img .start__item--first {
  top: 20px;
  left: 20px;
  -webkit-animation: rocket1 2s infinite 0s alternate ease-in-out;
          animation: rocket1 2s infinite 0s alternate ease-in-out;
}

@-webkit-keyframes rocket1 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(-20px, -30px);
            transform: translate(-20px, -30px);
  }
}

@keyframes rocket1 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(-20px, -30px);
            transform: translate(-20px, -30px);
  }
}

.start__img .start__item--second {
  top: -10px;
  right: -60px;
  -webkit-animation: rocket2 2.4s infinite 0s alternate ease-in-out;
          animation: rocket2 2.4s infinite 0s alternate ease-in-out;
}

@-webkit-keyframes rocket2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(40px, -50px);
            transform: translate(40px, -50px);
  }
}

@keyframes rocket2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(40px, -50px);
            transform: translate(40px, -50px);
  }
}

.start__img .start__item--third {
  bottom: -30px;
  right: 90px;
}

.start__decor {
  position: absolute;
  border-radius: 50%;
}

.start__decor--first {
  left: 0;
  top: 140px;
  width: 22px;
  height: 22px;
}

.start__decor--second {
  left: -20px;
  bottom: 50px;
  width: 22px;
  height: 22px;
}

.start__decor--third {
  right: 48px;
  bottom: 78px;
  width: 32px;
  height: 32px;
}

.start__decor--fourth {
  left: 250px;
  top: 0;
  width: 42px;
  height: 42px;
}

.start__decor--full {
  background: -o-linear-gradient(242.33deg, #FDAE8F 3.43%, #FD1C68 104.7%);
  background: linear-gradient(207.67deg, #FDAE8F 3.43%, #FD1C68 104.7%);
}

.start__decor--border {
  background: -o-linear-gradient(242.33deg, #FDAE8F 3.43%, #FD1C68 104.7%);
  background: linear-gradient(207.67deg, #FDAE8F 3.43%, #FD1C68 104.7%);
}

.start__decor--border::after {
  content: "";
  position: absolute;
  left: 4px;
  right: 4px;
  top: 4px;
  bottom: 4px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  border-radius: 50%;
  background: currentColor;
}

.work {
  margin-top: 760px;
}

.work__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 50px;
  margin-top: 56px;
}

.work__item {
  width: 100%;
  z-index: 99;
}

.work__item:nth-child(2) .work__item-img {
  background: -o-linear-gradient(26.12deg, #739EEC 29.38%, #FF8C9F 86.63%);
  background: linear-gradient(63.88deg, #739EEC 29.38%, #FF8C9F 86.63%);
}

.work__item:nth-child(3) .work__item-img {
  background: -o-linear-gradient(23.73deg, #FE6F2D -10.45%, #FDCE38 76.78%);
  background: linear-gradient(66.27deg, #FE6F2D -10.45%, #FDCE38 76.78%);
}

.work__item:last-child .work__item-img {
  background: -o-linear-gradient(316.52deg, #2EA3F2 -3.48%, #A651FB 130.9%);
  background: linear-gradient(133.48deg, #2EA3F2 -3.48%, #A651FB 130.9%);
}

.work__item-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 24px;
  background: -o-linear-gradient(242.33deg, #23D3A4 3.43%, #5B49CF 104.7%);
  background: linear-gradient(207.67deg, #23D3A4 3.43%, #5B49CF 104.7%);
}

.work__item-img img {
  width: 40px;
  height: 40px;
}

.work__item-title {
  text-align: center;
  margin-bottom: 4px;
}

.work__item-text {
  text-align: center;
  color: #FFFFFF;
}

.auction {
  height: 100%;
}

.auction__button.button--color:hover img {
  -webkit-transform: translate(3px, -5px);
      -ms-transform: translate(3px, -5px);
          transform: translate(3px, -5px);
}

.auction__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auction__swiper {
  margin-top: 64px;
}

.swiper-pagination {
  position: unset !important;
  margin-top: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 24px;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  border: 2px solid #FFFFFF;
  opacity: 1 !important;
  -webkit-transition: -webkit-transform 400ms ease 0s;
  transition: -webkit-transform 400ms ease 0s;
  -o-transition: transform 400ms ease 0s;
  transition: transform 400ms ease 0s;
  transition: transform 400ms ease 0s, -webkit-transform 400ms ease 0s;
}

.swiper-pagination-bullet-active {
  -webkit-transform: scale(1.6);
      -ms-transform: scale(1.6);
          transform: scale(1.6);
  background: #FFFFFF !important;
}

.slide {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 24px;
  padding: 24px;
  z-index: 99;
}

.slide:nth-child(2) .slide__img {
  background: #F2B4B0;
}

.slide:nth-child(3) .slide__img {
  background: #F6FDE2;
}

.slide:nth-child(4) .slide__img {
  background: #FEECE5;
}

.slide__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide__contact-info {
  margin-left: 12px;
}

.slide__text span {
  color: #FFFFFF;
}

.slide__img {
  background: #E2F3FE;
  border-radius: 24px;
  margin-bottom: 24px;
}

.slide__img img {
  width: 100%;
  height: 100%;
}

.slide__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 24px 0;
}

.slide__item {
  text-align: center;
}

.slide__item img {
  width: 24px;
  height: 24px;
  margin-bottom: 8px;
}

.slide__content {
  display: grid;
  grid-template-columns: 151px auto;
  grid-column-gap: 12px;
}

.slide__content .auction__button {
  width: 100%;
  padding: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slide__time {
  padding: 16px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #3C485D;
  border-radius: 12px;
}

.slide__time img {
  width: 24px;
  height: 24px;
  margin-right: 6px;
}

.collection__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.collection__button.button--color:hover img {
  -webkit-transform: translate(3px, -5px);
      -ms-transform: translate(3px, -5px);
          transform: translate(3px, -5px);
}

.collection__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin-top: 56px;
}

.collection__item {
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  border-radius: 24px;
  padding: 24px;
  z-index: 99;
}

.collection__item-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.collection__item-img img {
  width: 100%;
  height: 100%;
}

.collection__item-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 24px;
}

.collection__item-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.collection__item-content {
  margin-left: 12px;
}

.collection__item-text span {
  color: #FFFFFF;
}

.collection__rate img {
  max-width: 24px;
  width: 24px;
  height: 24px;
}

.sellers__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin-top: 56px;
}

.sellers__item {
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  border-radius: 24px;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99;
}

.sellers__item-content {
  margin-left: 16px;
}

.picks__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin: 56px 0;
}

.picks__item {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 24px;
  padding: 24px;
  z-index: 99;
  display: none;
}

.picks__item:first-child,
.picks__item:nth-child(2),
.picks__item:nth-child(3) {
  display: block;
}

.picks__item-img {
  background: #F2B4B0;
  border-radius: 24px;
}

.picks__item-img img {
  width: 100%;
  height: 100%;
}

.picks__item-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
}

.picks__item-content {
  margin-left: 12px;
}

.picks__item-text span {
  color: #FFFFFF;
}

.picks__item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 24px 0;
}

.picks__item-block {
  text-align: center;
}

.picks__item-block img {
  width: 24px;
  height: 24px;
  margin-bottom: 8px;
}

.picks__item-elements {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 16px;
}

.picks__item-button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 12px;
  height: 56px;
  color: #FFFFFF;
}

.picks__item-button--black {
  background: #3C485D;
}

.picks__item-button--color {
  background: -o-linear-gradient(242.33deg, #FDAE8F 3.43%, #FD1C68 104.7%);
  background: linear-gradient(207.67deg, #FDAE8F 3.43%, #FD1C68 104.7%);
}

.picks__item-button img {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.picks__button {
  width: 242px;
  height: 72px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 0;
  cursor: pointer;
}

.picks__button:hover img {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.breadcrumps {
  margin: 50px 0 50px;
}

.breadcrumps__title {
  font-family: "Urbanist Bold";
  font-size: 48px;
  line-height: 1.33;
  text-align: center;
  color: #FFFFFF;
}

.breadcrumps__items {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.breadcrumps__item {
  padding: 0 5px;
}

.breadcrumps__text--active {
  color: #FFFFFF;
}

.filter {
  height: 56px;
  margin: 0 0 50px;
}

.filter__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter__item {
  margin: 0 8px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #3C485D;
  border-radius: 12px;
  padding: 16px 24px;
  border: none;
  color: #FFFFFF;
  -webkit-transition: all 400ms ease 0s;
  -o-transition: all 400ms ease 0s;
  transition: all 400ms ease 0s;
  font-family: "Urbanist Bold";
}

.dropdown__button.active {
  border-radius: 12px 12px 0 0;
}

.dropdown__button img {
  width: 20px;
  height: 20px;
  margin-left: 6px;
}

.dropdown__items {
  display: grid;
  overflow: auto;
  position: absolute;
  z-index: 100;
  min-width: 100%;
  background: #3C485D;
  border-radius: 0 0 12px 12px;
  grid-row-gap: 5px;
  padding: 0 24px 16px;
  -webkit-transform: translate(0, -10px);
      -ms-transform: translate(0, -10px);
          transform: translate(0, -10px);
  -webkit-transition: all 400ms ease 0s;
  -o-transition: all 400ms ease 0s;
  transition: all 400ms ease 0s;
  opacity: 0;
}

.dropdown__items .text {
  color: #FFFFFF;
}

.dropdown__items.active {
  -webkit-transform: translate(0, -1px);
      -ms-transform: translate(0, -1px);
          transform: translate(0, -1px);
  opacity: 1;
}

@media (max-width: 1280px) {
  .start__img .start__item--first {
    width: 240px;
    top: 0;
    left: 80px;
  }

  .start__img .start__item--second {
    width: 300px;
    top: 30px;
    right: -40px;
  }

@-webkit-keyframes rocket2 {
    0% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }

    100% {
      -webkit-transform: translate(10px, -20px);
              transform: translate(10px, -20px);
    }
}

@keyframes rocket2 {
    0% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }

    100% {
      -webkit-transform: translate(10px, -20px);
              transform: translate(10px, -20px);
    }
}

  .start__img .start__item--third {
    width: 250px;
  }
}

@media (max-width: 1170px) {
  .wrapper {
    max-width: 950px;
  }

  .header {
    -webkit-transition: 0.4s ease 0s;
    -o-transition: 0.4s ease 0s;
    transition: 0.4s ease 0s;
  }

  .header.active {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background: #030812;
    overflow-y: auto;
    overflow-x: hidden !important;
  }

  .header.active::-webkit-scrollbar {
    display: none;
  }

  .header.active .header__body {
    height: 100vh;
  }

  .header__logo {
    position: absolute;
    left: 0;
    top: 0;
  }

  .header__burger {
    position: absolute;
    top: 23px;
    right: 0;
    width: 30px;
    height: 20px;
    z-index: 3;
  }

  .header__burger::after,
  .header__burger::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    background-color: #fff;
    -webkit-transition: 0.4s ease 0s;
    -o-transition: 0.4s ease 0s;
    transition: 0.4s ease 0s;
  }

  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger::before {
    top: 0px;
  }

  .header__burger::after {
    bottom: 0px;
  }

  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0px;
    width: 100%;
    height: 2px;
    top: 8px;
    -webkit-transition: 0.4s ease 0s;
    -o-transition: 0.4s ease 0s;
    transition: 0.4s ease 0s;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-left: 0;
  }

  .header__form {
    -webkit-transition: 400ms ease 0s;
    -o-transition: 400ms ease 0s;
    transition: 400ms ease 0s;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    left: 0;
    position: absolute;
    top: 100px;
  }

  .header__form.active {
    opacity: 1;
    visibility: visible;
  }

  .header__list {
    -webkit-transition: all 400ms ease 0s !important;
    -o-transition: all 400ms ease 0s !important;
    transition: all 400ms ease 0s !important;
    opacity: 0;
    visibility: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
  }

  .header__list li {
    margin-bottom: 10px;
  }

  .header__list.active {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }

  .header__button {
    position: absolute;
    right: 50px;
    top: 5px;
  }

  .footer__body {
    grid-column-gap: 0;
  }

  .decor {
    width: calc(200px + 686 * (100vw - 300px) / 870);
    height: calc(200px + 686 * (100vw - 300px) / 870);
  }

  .decor--third {
    width: 90%;
    left: 5%;
  }

  .decor--third .decor__item {
    width: 64%;
    height: 55%;
  }

  .decor--third::after {
    width: 74%;
    height: 75%;
    left: 13%;
    top: 12.5%;
  }

  .decor--third::before {
    width: 87%;
    height: 88%;
  }

  .decor--last {
    top: 1400px;
    width: calc(400px + 991.82 * (100vw - 300px) / 870);
    height: calc(300px + 715 * (100vw - 300px) / 870);
  }

  .start__img .start__item--first {
    top: 50px;
    left: 40px;
  }

  .start__img .start__item--second {
    top: 70px;
    right: -60px;
  }

  .start__img .start__item--third {
    width: 200px;
    bottom: 60px;
  }

  .work__items {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .work__items .work__item:last-child {
    grid-area: 2/2/3/3;
  }

  .sellers__item:nth-child(8) {
    grid-area: 3/3/4/4;
  }
}

@media (max-width: 1170px) and (min-height: 460px), (max-width: 768px) and (min-height: 500px) {
  .header {
    overflow: hidden;
    height: 96px;
  }
}

@media (max-width: 1170px) and (max-height: 460px), (max-width: 768px) and (max-height: 500px) {
  .header__list {
    position: absolute;
    top: 0;
    margin-left: -50px !important;
  }

  .header__list.active {
    top: 170px;
  }
}

@media (max-width: 1170px) and (max-height: 460px) {
  .start {
    top: 60px;
  }
}

@media (max-width: 992px) {
  .wrapper {
    max-width: none;
    padding: 0 20px;
  }

  .footer__body {
    grid-column-gap: 20px;
  }

  .footer__text--big {
    max-width: 360px;
  }

  .footer__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__items .footer__icons {
    margin-bottom: 16px;
  }

  .start {
    max-height: -webkit-min-content;
    max-height: -moz-min-content;
    max-height: min-content;
    height: auto;
  }

  .start__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .start__container {
    text-align: center;
    margin-bottom: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .start__img {
    margin-left: 0;
    height: 500px;
  }

  .start__img .start__item--first {
    top: 20px;
    left: calc(130px + 50 * (100vw - 768px) / 224);
  }

  .start__img .start__item--second {
    top: -40px;
    right: calc(75px + 0 * (100vw - 768px) / 224);
  }

  .start__img .start__item--third {
    bottom: -30px;
    right: calc(270px + 1 * (100vw - 768px) / 224);
  }

  .start__decor--second {
    left: 20px;
  }

  .start__decor--fourth {
    left: 350px;
    top: -20px;
  }

  .work {
    margin-top: 1020px;
  }

  .collection__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .collection__container .collection__title {
    margin-bottom: 15px;
  }

  .collection__items {
    grid-template-columns: 1fr;
    max-width: 500px;
    margin: 56px auto 0;
  }

  .sellers__items {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }

  .filter__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background-color: #030812;
    width: 300px;
    min-height: 100vh;
    -webkit-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    -webkit-transition: -webkit-transform 400ms ease 0s;
    transition: -webkit-transform 400ms ease 0s;
    -o-transition: transform 400ms ease 0s;
    transition: transform 400ms ease 0s;
    transition: transform 400ms ease 0s, -webkit-transform 400ms ease 0s;
    z-index: 999;
    position: fixed;
    left: 0;
    top: 0;
    padding: 50px 20px 0;
  }

  .filter__items.active {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  .filter__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .filter__container .filter__item {
    margin: 8px 0;
  }

  .filter__burger {
    position: absolute;
    top: calc(50% - 10px);
    left: 20px;
    width: 30px;
    height: 20px;
    z-index: 1000;
    -webkit-transition: 0.4s ease 0s;
    -o-transition: 0.4s ease 0s;
    transition: 0.4s ease 0s;
  }

  .filter__burger.active {
    position: fixed;
    top: 20px;
  }

  .filter__burger::after,
  .filter__burger::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    background-color: #fff;
    -webkit-transition: 0.4s ease 0s;
    -o-transition: 0.4s ease 0s;
    transition: 0.4s ease 0s;
  }

  .filter__burger.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .filter__burger.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .filter__burger::before {
    top: 0px;
  }

  .filter__burger::after {
    bottom: 0px;
  }

  .filter__burger span {
    position: absolute;
    background-color: #fff;
    left: 0px;
    width: 100%;
    height: 2px;
    top: 8px;
    -webkit-transition: 0.4s ease 0s;
    -o-transition: 0.4s ease 0s;
    transition: 0.4s ease 0s;
  }

  .filter__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .dropdown__button {
    min-width: 260px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 56px;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: calc(48px + 16 * (100vw - 300px) / 468);
  }

  .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__button {
    -webkit-transition: 0.4s ease 0s;
    -o-transition: 0.4s ease 0s;
    transition: 0.4s ease 0s;
    opacity: 0;
    visibility: hidden;
    position: relative;
    right: 0;
    top: 0;
  }

  .header__button.active {
    opacity: 1;
    visibility: visible;
    top: 10px;
  }

  .footer__body {
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
    padding-bottom: 50px;
  }

  .footer__body picture {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__body .footer__container {
    margin: 0 auto;
    text-align: center;
  }

  .footer__body .footer__container .footer__item {
    text-align: left;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__body .footer__info {
    text-align: center;
  }

  .footer__text--big {
    max-width: 460px;
  }

  .footer__menu {
    max-width: 450px;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .start__title {
    font-size: calc(36px + 12 * (100vw - 300px) / 468);
  }

  .start__img .start__item--first {
    top: 60px;
    width: 170px;
  }

  .start__img .start__item--second {
    top: 0px;
    width: 220px;
    right: 0;
  }

  .start__img .start__item--third {
    width: 150px;
    bottom: 0px;
    right: 25%;
  }

  .work__items {
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-template-rows: repeat(2, auto);
  }

  .work__items .work__item:last-child {
    grid-area: auto;
  }

  .auction__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .sellers__item:nth-child(8) {
    grid-area: auto;
  }
}

@media (max-width: 768px) and (max-height: 500px) {
  .header__list {
    margin-left: 0 !important;
  }

  .header__button {
    position: absolute;
    right: calc(50% - 100px);
  }

  .header__button.active {
    top: 330px;
  }

  .start {
    top: 40px;
  }
}

@media (max-width: 520px) {
  .sellers__items {
    grid-template-columns: 1fr;
    width: 270px;
    margin: 56px auto 0;
  }
}

@media (max-width: 450px) {
  section {
    margin-bottom: 100px;
  }

  .wrapper {
    padding: 0 10px;
  }

  .header__logo img {
    width: 180px;
  }

  .header__burger {
    top: 17px;
  }

  .footer__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center !important;
  }

  .footer__item .footer__item-img {
    margin: 0 0 10px 0;
  }

  .footer__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .decor {
    display: none;
  }

  .start__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .start__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }

  .start__img .start__item--first {
    top: 90px;
    width: 130px;
  }

  .start__img .start__item--second {
    top: 90px;
    width: 170px;
  }

  .start__img .start__item--third {
    bottom: 60px;
    width: 130px;
  }

  .start__decor--third {
    right: 20px;
  }

  .start__decor--fourth {
    left: 40%;
    top: 30px;
  }
}

@media (max-width: 400px) {
  .picks__item-elements {
    grid-row-gap: 16px;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 350px) {
  .slide__content {
    grid-template-columns: auto;
    grid-row-gap: 12px;
  }

  .collection__item {
    padding: 12px;
  }
}

@media (max-width: 320px) {
  .picks__items {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
    -o-transition-duration: 0.01ms !important;
       transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}