/*------------------------------- SCSS -------------------------------*/

/* --------------- Brakpoints --------------- */

/* --------------- Fonts --------------- */

.header {
  padding: 18px 0;
  z-index: 99;
}

.fixed__nav {
  position: fixed;
  background: #030812;
  left: 0;
  top: 0;
  right: 0;
  z-index: 999;
}

.header__link {
  font-weight: bold;
  font-style: normal;
  color: #FFFFFF !important;
}

.header__body {
  -webkit-transition: 0.4s ease 0s;
  -o-transition: 0.4s ease 0s;
  transition: 0.4s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-left: 30px;
}

.header__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 296px;
  height: 48px;
  background: #3C485D;
  border-radius: 8px;
}

.header__form-button {
  width: 42px;
  height: 99%;
  background: inherit;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.header__form-button img {
  width: 20px;
  height: 20px;
}

.header__form-input {
  width: 100%;
  height: 99%;
  background: inherit;
  border: none;
  border-radius: 8px;
  font-weight: normal;
  font-style: normal;
  color: #8393AF;
}

.header__form-input::-webkit-input-placeholder {
  color: #8393AF;
}

.header__form-input::-moz-placeholder {
  color: #8393AF;
}

.header__form-input:-ms-input-placeholder {
  color: #8393AF;
}

.header__form-input::-ms-input-placeholder {
  color: #8393AF;
}

.header__form-input::placeholder {
  color: #8393AF;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 16px;
}

.header__list .header__link {
  padding: 0 16px;
}

.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 24px;
  background: -o-linear-gradient(242.33deg, #FDAE8F 3.43%, #FD1C68 104.7%);
  background: linear-gradient(207.67deg, #FDAE8F 3.43%, #FD1C68 104.7%);
  border-radius: 12px;
}

.header__button img {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.start {
  padding: 80px 0 0;
}

.start__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 55px;
}

.start__container {
  max-width: 470px;
  z-index: 99;
}

.start__title {
  font-weight: bold;
  font-style: normal;
  font-size: 48px;
  line-height: 1.33;
  color: #FFFFFF;
}

.start__title span {
  background: -o-linear-gradient(242.33deg, #FDAE8F 3.43%, #FD1C68 104.7%);
  background: linear-gradient(207.67deg, #FDAE8F 3.43%, #FD1C68 104.7%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.start__button.button--color:hover img {
  -webkit-transform: translate(3px, -5px);
      -ms-transform: translate(3px, -5px);
          transform: translate(3px, -5px);
}

.start__text {
  font-weight: normal;
  font-style: normal;
  margin: 40px 0;
}

.start__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.start__button {
  margin: 0;
}

.start__img {
  width: 100%;
}

.start__img img {
  width: 100%;
}

.work__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 56px;
}

.work__item {
  max-width: 270px;
  z-index: 99;
  text-align: center;
}

.work__item:nth-child(2) .work__item-img {
  background: -o-linear-gradient(26.12deg, #739EEC 29.38%, #FF8C9F 86.63%);
  background: linear-gradient(63.88deg, #739EEC 29.38%, #FF8C9F 86.63%);
}

.work__item:nth-child(3) .work__item-img {
  background: -o-linear-gradient(23.73deg, #FE6F2D -10.45%, #FDCE38 76.78%);
  background: linear-gradient(66.27deg, #FE6F2D -10.45%, #FDCE38 76.78%);
}

.work__item:last-child .work__item-img {
  background: -o-linear-gradient(316.52deg, #2EA3F2 -3.48%, #A651FB 130.9%);
  background: linear-gradient(133.48deg, #2EA3F2 -3.48%, #A651FB 130.9%);
}

.work__item-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 24px;
  background: -o-linear-gradient(242.33deg, #23D3A4 3.43%, #5B49CF 104.7%);
  background: linear-gradient(207.67deg, #23D3A4 3.43%, #5B49CF 104.7%);
}

.work__item-title {
  margin-bottom: 4px;
}

.work__item-text {
  color: #FFFFFF;
}

.auction {
  height: 100%;
}

.auction__button.button--color:hover img {
  -webkit-transform: translate(3px, -5px);
      -ms-transform: translate(3px, -5px);
          transform: translate(3px, -5px);
}

.auction__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auction__swiper {
  margin-top: 64px;
}

.swiper-pagination {
  position: unset !important;
  margin-top: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 24px;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  border: 2px solid #FFFFFF;
  opacity: 1 !important;
  -webkit-transition: -webkit-transform 400ms ease 0s;
  transition: -webkit-transform 400ms ease 0s;
  -o-transition: transform 400ms ease 0s;
  transition: transform 400ms ease 0s;
  transition: transform 400ms ease 0s, -webkit-transform 400ms ease 0s;
}

.swiper-pagination-bullet-active {
  -webkit-transform: scale(1.6);
      -ms-transform: scale(1.6);
          transform: scale(1.6);
  background: #FFFFFF !important;
}

.slide {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 24px;
  padding: 24px;
  z-index: 99;
}

.slide:nth-child(2) .slide__img {
  background: #F2B4B0;
}

.slide:nth-child(3) .slide__img {
  background: #F6FDE2;
}

.slide:nth-child(4) .slide__img {
  background: #FEECE5;
}

.slide__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide__contact-info {
  margin-left: 12px;
}

.slide__text span {
  color: #FFFFFF;
}

.slide__img {
  background: #E2F3FE;
  border-radius: 24px;
  margin-bottom: 24px;
}

.slide__img img {
  width: 100%;
  height: 100%;
}

.slide__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 24px 0;
}

.slide__item {
  text-align: center;
}

.slide__item img {
  width: 24px;
  height: 24px;
  margin-bottom: 8px;
}

.slide__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.slide__content .auction__button {
  width: 100%;
  padding: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}

.slide__time {
  padding: 16px 0;
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #3C485D;
  border-radius: 12px;
  gap: 6px;
}

.collection__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.collection__button.button--color:hover img {
  -webkit-transform: translate(3px, -5px);
      -ms-transform: translate(3px, -5px);
          transform: translate(3px, -5px);
}

.collection__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  margin-top: 56px;
}

.collection__item {
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  border-radius: 24px;
  padding: 24px;
  z-index: 99;
}

.collection__item-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.collection__item-img img {
  width: 100%;
  height: 100%;
}

.collection__item-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 24px;
}

.collection__item-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.collection__item-content {
  margin-left: 12px;
}

.collection__item-text span {
  color: #FFFFFF;
}

.collection__rate img {
  max-width: 24px;
  width: 24px;
  height: 24px;
}

.sellers__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  margin-top: 56px;
}

.sellers__item {
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  border-radius: 24px;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99;
  max-width: 270px;
}

.sellers__item-content {
  margin-left: 16px;
}

.picks__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin: 56px 0;
}

.picks__item {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 24px;
  padding: 24px;
  z-index: 99;
  display: none;
}

.picks__item:first-child,
.picks__item:nth-child(2),
.picks__item:nth-child(3) {
  display: block;
}

.picks__item-img {
  background: #F2B4B0;
  border-radius: 24px;
}

.picks__item-img img {
  width: 100%;
  height: 100%;
}

.picks__item-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
}

.picks__item-content {
  margin-left: 12px;
}

.picks__item-text span {
  color: #FFFFFF !important;
}

.picks__item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 24px 0;
}

.picks__item-block {
  text-align: center;
}

.picks__item-block img {
  width: 24px;
  height: 24px;
  margin-bottom: 8px;
}

.picks__item-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
}

.picks__item-button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 6px;
  border-radius: 12px;
  height: 56px;
  color: #FFFFFF !important;
}

.picks__item-button--black {
  background: #3C485D;
}

.picks__item-button--color {
  background: -o-linear-gradient(242.33deg, #FDAE8F 3.43%, #FD1C68 104.7%);
  background: linear-gradient(207.67deg, #FDAE8F 3.43%, #FD1C68 104.7%);
}

.picks__button {
  width: 242px;
  height: 72px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 0;
  cursor: pointer;
}

.picks__button:hover img {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.breadcrumps {
  margin: 50px 0 50px;
}

.breadcrumps__title {
  font-weight: bold;
  font-style: normal;
  font-size: 48px;
  line-height: 1.33;
  text-align: center;
  color: #FFFFFF;
}

.breadcrumps__items {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.breadcrumps__item {
  padding: 0 5px;
}

.breadcrumps__text--active {
  color: #FFFFFF;
}

.filter {
  height: 56px;
  margin: 0 0 50px;
}

.filter__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter__item {
  margin: 0 8px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #3C485D;
  border-radius: 12px;
  padding: 16px 24px;
  border: none;
  color: #FFFFFF !important;
  -webkit-transition: all 400ms ease 0s;
  -o-transition: all 400ms ease 0s;
  transition: all 400ms ease 0s;
  font-weight: bold;
  font-style: normal;
  z-index: 99;
}

.dropdown__button.active {
  border-radius: 12px 12px 0 0;
}

.dropdown__button img {
  width: 20px;
  height: 20px;
  margin-left: 6px;
}

.dropdown__items {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: auto;
  position: absolute;
  z-index: 98;
  min-width: 100%;
  background: #3C485D;
  border-radius: 0 0 12px 12px;
  gap: 5px;
  padding: 0 24px 16px;
  -webkit-transform: translate(0, -10px);
      -ms-transform: translate(0, -10px);
          transform: translate(0, -10px);
  -webkit-transition: all 400ms ease 0s;
  -o-transition: all 400ms ease 0s;
  transition: all 400ms ease 0s;
}

.dropdown__items .text {
  color: #FFFFFF;
}

.dropdown__items.active {
  -webkit-transform: translate(0, -1px);
      -ms-transform: translate(0, -1px);
          transform: translate(0, -1px);
  z-index: 99;
}

.section__decor {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 0;
}

.section__decor .decor {
  position: absolute;
  background-size: 120% 120% !important;
  width: 886px;
  height: 886px;
  -webkit-animation: rotate1 15s 0s linear infinite;
          animation: rotate1 15s 0s linear infinite;
}

@-webkit-keyframes rotate1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.section__decor .decor--first {
  right: -141px;
  top: -286px;
  background: url(..//img/pseudo1.png) center no-repeat;
}

.section__decor .decor--second {
  left: -277px;
  top: 915px;
  background: url(..//img/pseudo2.png) center no-repeat;
  background-size: 110% 110% !important;
}

.section__decor .decor--third {
  width: 1288.21px;
  height: 1022px;
  top: 2648px;
  left: calc(50% - 644.105px);
  background: url(..//img/pseudo3.png) center no-repeat;
}

.section__decor .decor--last {
  width: 1391.82px;
  height: 1015px;
  right: -408px;
  top: 4029px;
  background: url(..//img/pseudo4.png) center no-repeat;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 50px;
}

.footer__body picture {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer__container {
  z-index: 99;
}

li:hover a.footer__text {
  border-bottom: 1px solid #8393AF;
}

.footer__text {
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: #8393AF;
}

.footer__text--big {
  font-size: 16px;
  line-height: 24px;
  margin: 16px 0 36px;
  max-width: 470px;
}

.footer__text--small {
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
}

.footer__item-img {
  margin-right: 12px;
}

.footer__img {
  background: rgba(255, 255, 255, 0.2);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__title {
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 17px;
  margin-bottom: 80px;
  min-width: 170px;
  width: 100%;
}

.footer__list .footer__title {
  margin-bottom: 8px;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 7px;
}

/*------------------------------- Default styles -------------------------------*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus-visible {
  outline: none;
}

body {
  overflow-x: hidden;
  background: #030812;
  font-family: "Urbanist", sans-serif;
}

body .overlay {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  height: 100%;
  overflow: hidden;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
  z-index: 2;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p,
span {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

section {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 160px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title {
  font-weight: bold;
  font-style: normal;
  font-size: 64px;
  line-height: 1.37;
  color: #ffffff;
  text-align: center;
}

.subtitle {
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.text {
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #8393af;
}

.subtext {
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
  line-height: 1.33;
  color: #ffffff;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 21px 56px;
  border-radius: 16px;
}

.button img {
  width: 24px;
  height: 24px;
  margin-right: 6px;
  -webkit-transition: all 400ms ease 0s;
  -o-transition: all 400ms ease 0s;
  transition: all 400ms ease 0s;
}

.button--color {
  background: -o-linear-gradient(242.33deg, #fdae8f 3.43%, #fd1c68 104.7%);
  background: linear-gradient(207.67deg, #fdae8f 3.43%, #fd1c68 104.7%);
}

.button--black {
  border: 1px solid #ffffff;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.js-scroll {
  opacity: 0;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.js-scroll.scrolled {
  opacity: 1;
}

.js-scroll.fade-in {
  -webkit-animation: fade-in 1s ease-in-out 0s;
          animation: fade-in 1s ease-in-out 0s;
}

.js-scroll.slide-in-left {
  -webkit-animation: slide-in-left 1s ease-in-out 0s;
          animation: slide-in-left 1s ease-in-out 0s;
}

.js-scroll.slide-in-top {
  -webkit-animation: slide-in-top 1s ease-in-out 0s;
          animation: slide-in-top 1s ease-in-out 0s;
}

.js-scroll.slide-in-bottom {
  -webkit-animation: slide-in-bottom 1s ease-in-out 0s;
          animation: slide-in-bottom 1s ease-in-out 0s;
}

.js-scroll.slide-in-right {
  -webkit-animation: slide-in-right 1s ease-in-out 0s;
          animation: slide-in-right 1s ease-in-out 0s;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (min-width: 1920px) {
  .auction__swiper {
    max-width: 1920px;
    width: 100%;
  }
}

@media (max-width: 1182px) {
  .header {
    -webkit-transition: 0.4s ease 0s;
    -o-transition: 0.4s ease 0s;
    transition: 0.4s ease 0s;
  }

  .header.active {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background: #030812;
    overflow-y: auto;
    overflow-x: hidden !important;
  }

  .header.active::-webkit-scrollbar {
    display: none;
  }

  .header.active .header__body {
    height: 100vh;
  }

  .header__logo {
    position: absolute;
    left: 0;
    top: 0;
  }

  .header__burger {
    position: absolute;
    top: 23px;
    right: 0;
    width: 30px;
    height: 20px;
    z-index: 3;
  }

  .header__burger::after,
  .header__burger::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    background-color: #fff;
    -webkit-transition: 0.4s ease 0s;
    -o-transition: 0.4s ease 0s;
    transition: 0.4s ease 0s;
  }

  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger::before {
    top: 0px;
  }

  .header__burger::after {
    bottom: 0px;
  }

  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0px;
    width: 100%;
    height: 2px;
    top: 8px;
    -webkit-transition: 0.4s ease 0s;
    -o-transition: 0.4s ease 0s;
    transition: 0.4s ease 0s;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-left: 0;
  }

  .header__form {
    -webkit-transition: 400ms ease 0s;
    -o-transition: 400ms ease 0s;
    transition: 400ms ease 0s;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    left: 0;
    position: absolute;
    top: 100px;
  }

  .header__form.active {
    opacity: 1;
    visibility: visible;
  }

  .header__list {
    -webkit-transition: all 400ms ease 0s !important;
    -o-transition: all 400ms ease 0s !important;
    transition: all 400ms ease 0s !important;
    opacity: 0;
    visibility: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
  }

  .header__list li {
    margin-bottom: 10px;
  }

  .header__list.active {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }

  .header__button {
    position: absolute;
    right: 50px;
    top: 5px;
  }

  .footer__list {
    max-width: 170px;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
  }

  .container {
    max-width: 970px;
  }
}

@media (max-width: 1182px) and (min-height: 460px), (max-width: 768px) and (min-height: 500px) {
  .header {
    overflow: hidden;
    height: 96px;
  }
}

@media (max-width: 1182px) and (max-height: 460px), (max-width: 768px) and (max-height: 500px) {
  .header__list {
    position: absolute;
    top: 0;
    margin-left: -50px !important;
  }

  .header__list.active {
    top: 170px;
  }
}

@media (max-width: 1170px) {
  .section__decor .decor {
    width: calc(200px + 686 * (100vw - 300px) / 870);
    height: calc(200px + 686 * (100vw - 300px) / 870);
  }

  .section__decor .decor--third {
    width: 90%;
    left: 5%;
  }

  .section__decor .decor--last {
    width: calc(400px + 991.82 * (100vw - 300px) / 870);
    height: calc(300px + 715 * (100vw - 300px) / 870);
  }
}

@media (max-width: 1024px) {
  .start__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .start__container {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 992px) {
  .collection__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .collection__container .collection__title {
    margin-bottom: 20px;
  }

  .collection__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .collection__item {
    max-width: 500px;
    width: 100%;
  }

  .filter__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background-color: #030812;
    width: 300px;
    min-height: 100vh;
    -webkit-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    -webkit-transition: -webkit-transform 400ms ease 0s;
    transition: -webkit-transform 400ms ease 0s;
    -o-transition: transform 400ms ease 0s;
    transition: transform 400ms ease 0s;
    transition: transform 400ms ease 0s, -webkit-transform 400ms ease 0s;
    z-index: 999;
    position: fixed;
    left: 0;
    top: 0;
    padding: 50px 20px 0;
  }

  .filter__items.active {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  .filter__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .filter__container .filter__item {
    margin: 8px 0;
  }

  .filter__burger {
    position: absolute;
    top: calc(50% - 10px);
    left: 20px;
    width: 30px;
    height: 20px;
    z-index: 1000;
    -webkit-transition: 0.4s ease 0s;
    -o-transition: 0.4s ease 0s;
    transition: 0.4s ease 0s;
  }

  .filter__burger.active {
    position: fixed;
    top: 20px;
  }

  .filter__burger::after,
  .filter__burger::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    background-color: #fff;
    -webkit-transition: 0.4s ease 0s;
    -o-transition: 0.4s ease 0s;
    transition: 0.4s ease 0s;
  }

  .filter__burger.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .filter__burger.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .filter__burger::before {
    top: 0px;
  }

  .filter__burger::after {
    bottom: 0px;
  }

  .filter__burger span {
    position: absolute;
    background-color: #fff;
    left: 0px;
    width: 100%;
    height: 2px;
    top: 8px;
    -webkit-transition: 0.4s ease 0s;
    -o-transition: 0.4s ease 0s;
    transition: 0.4s ease 0s;
  }

  .filter__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .dropdown__button {
    min-width: 260px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 56px;
    padding: 0;
  }

  .dropdown__items {
    z-index: 0;
    position: relative;
  }

  .footer__text--big {
    max-width: 360px;
  }

  .footer__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__button {
    -webkit-transition: 0.4s ease 0s;
    -o-transition: 0.4s ease 0s;
    transition: 0.4s ease 0s;
    opacity: 0;
    visibility: hidden;
    position: relative;
    right: 0;
    top: 0;
  }

  .header__button.active {
    opacity: 1;
    visibility: visible;
    top: 10px;
  }

  .start__title {
    font-size: calc(36px + 12 * (100vw - 300px) / 468);
  }

  .auction__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .section__decor .decor {
    display: none;
  }

  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__body picture {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__body .footer__container {
    margin: 0 auto;
    text-align: center;
  }

  .footer__body .footer__container .footer__item {
    text-align: left;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__body .footer__info {
    text-align: center;
  }

  .footer__text--big {
    max-width: 460px;
  }

  .footer__menu {
    max-width: 450px;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .footer__list {
    margin-bottom: 40px;
  }

  section {
    margin-bottom: 100px;
  }

  .title {
    font-size: calc(48px + 16 * (100vw - 300px) / 468);
  }
}

@media (max-width: 768px) and (max-height: 500px) {
  .header__list {
    margin-left: 0 !important;
  }

  .header__button {
    position: absolute;
    right: calc(50% - 100px);
  }

  .header__button.active {
    top: 330px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

@media (max-width: 520px) {
  .sellers__items {
    margin: 56px auto 0;
  }
}

@media (max-width: 480px) {
  .start__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }

  .start__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .js-scroll.slide-in-left {
    -webkit-animation: slide-in-top 0.6s ease-in-out 0s;
            animation: slide-in-top 0.6s ease-in-out 0s;
  }

  .js-scroll.slide-in-right {
    -webkit-animation: fade-in-top 0.6s ease-in-out 0s;
            animation: fade-in-top 0.6s ease-in-out 0s;
  }
}

@media (max-width: 450px) {
  .header__logo img {
    width: 180px;
  }

  .header__burger {
    top: 17px;
  }

  .auction {
    height: auto;
  }

  .footer__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center !important;
  }

  .footer__item .footer__item-img {
    margin: 0 0 10px 0;
  }

  .footer__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 400px) {
  .slide__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .slide__content .auction__button {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .slide__time {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 350px) {
  .collection__item {
    padding: 12px;
  }

  .picks__item-elements {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 320px) {
  .picks__items {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}

.webp .section__decor .decor--first { background: url(..//img/pseudo1.webp) center no-repeat; }

.webp .section__decor .decor--second { background: url(..//img/pseudo2.webp) center no-repeat; }

.webp .section__decor .decor--third { background: url(..//img/pseudo3.webp) center no-repeat; }

.webp .section__decor .decor--last { background: url(..//img/pseudo4.webp) center no-repeat; }